body{
    margin: 0;
    padding: 10px;
    min-width: 400px;
}

input{
    border: 2px solid green;
    /* height: 1.5rem;
     */
     padding: 10px;
    width: 100%;

}

button{
    background-color: #5f9341;
    border: none;
    color: white;
    padding: 10px 20px;
    margin-top: 1rem;
    font-weight: bold;
}
a{
    list-style: none;
    color: #5f9341;
}
ul{
    color: #5f9341;
}
